.section {
  background: rgb(255, 220, 254);
  background: linear-gradient(
    135deg,
    rgba(255, 220, 254, 1) 0%,
    rgba(230, 251, 255, 1) 50%,
    rgba(172, 172, 255, 1) 100%
  );
}

.section2 {
  background: rgb(245, 223, 188);
  background: linear-gradient(
    135deg,
    rgba(245, 223, 188, 1) 0%,
    rgba(230, 251, 255, 1) 50%,
    rgba(171, 199, 239, 1) 100%
  );
}

@media only screen and (max-width: 600px) {
  .chart {
    max-width: -webkit-fill-available;
  }
}

.chart {
  max-width:640px;
}